<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Articles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each friend in model}}
        <tr>
            <td>{{link-to friend.fullName "articles" friend}}</td>
            <td>{{friend.totalArticles}}</td>
            <td><a href="#" {{action "delete" friend}}>Delete</a></td>
       </tr>
    {{/each}}
    </tbody>
</table>
