<div class="friends-profile">
    <p>{{model.firstName}}</p>
    <p>{{model.lastName}}</p>
    <p>{{model.email}}</p>
    <p>{{model.twitter}}</p>
    <p>{{link-to "Lend article" "articles.new"}}</p>
    <p>{{link-to "Edit info" "friends.edit" model}}</p>
    <p><a href="#" {{action "delete" model}}>Delete</a></p>
</div>
<div class="article-container">
    {{outlet}}
</div>
