<nav>
  {{link-to "Borrowers" "index" class="main"}}
    <!-- responsive -->
    <input id="bmenu" class="burgercheck" type="checkbox">
    <label for="bmenu" class="burgermenu"></label>
    <!-- /responsive -->
    <div class="menu">
      {{link-to "Dashboard" "index" class="icon-gauge"}}
      {{link-to "Friends" "friends" class="icon-users-1"}}
      {{link-to "New Friend" "friends.new" class="icon-user-add"}}
    </div>
</nav>
